---
import { Image } from "astro:assets";
import logoDarkIcon from "./logo-dark.svg";
import logoLightIcon from "./logo-light.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Day 3 - Login</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
    <style>
      .body {
        background: #f6f6f6;
      }

      .body,
      button {
        color: #444;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: bold;
      }

      .background {
        display: flex;
        min-height: 100vh;
      }

      .container {
        flex: 0 0 360px;
        margin: auto;
        padding: 10px;
      }

      .screen {
        position: relative;
        padding: 40px;
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        overflow: hidden;
      }

      .splash {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #7251d3;
        transition: transform 0.5s;
      }

      .out {
        transform: translate(100%, 0);
      }

      .splash-logo {
        width: 80px;
      }

      .login-logo {
        width: 60px;
      }

      .login-title {
        margin-top: 30px;
        font-size: 24px;
      }

      .login-subtitle {
        margin-top: 10px;
        color: #9d9e9d;
      }

      .login-form {
        margin-top: 50px;
      }

      .login-button {
        display: block;
        width: 100%;
        padding: 15px 0;
        color: #fff;
        background: #7251d3;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        cursor: pointer;
      }

      .login-footer {
        margin-top: 40px;
        color: #9d9e9d;
        text-align: center;
      }

      .form-group {
        margin-bottom: 20px;
      }

      .form-label {
        display: block;
        font-size: 12px;
        transition: color 0.2s;
      }

      .form-control {
        display: block;
        width: 100%;
        padding: 10px 0;
        background: transparent;
        border: none;
        border-bottom: 2px solid #eee;
        font-size: 14px;
        outline: none;
        transition: border-bottom-color 0.2s;
      }

      .form-group.error .form-label {
        color: #dc3030;
      }

      .form-group.error .form-control {
        border-bottom-color: #dc3030;
      }

      .form-control:focus {
        border-bottom-color: #7251d3;
      }

      .link {
        text-decoration: none;
      }

      .link:hover {
        text-decoration: underline;
      }

      .link-forgot-container {
        text-align: right;
      }

      .link-forgot {
        color: #9d9e9d;
      }

      .link-register {
        color: #7251d3;
      }

      .credits {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
        font-weight: normal;
      }

      .credits-link {
        display: flex;
        align-items: center;
        color: #ec4989;
        font-weight: bold;
        text-decoration: none;
      }

      .dribbble {
        width: 20px;
        height: 20px;
        margin: 0 5px;
      }
    </style>
  </head>
  <body class="body">
    <div class="background">
      <div class="container">
        <div class="screen">
          <div class="splash" id="splash">
            <Image class="splash-logo" src={logoLightIcon} alt="Alpha Logo" />
          </div>
          <div class="login">
            <div class="login-header">
              <div>
                <Image class="login-logo" src={logoDarkIcon} alt="Alpha Logo" />
              </div>
              <div class="login-title">Welcome Back,</div>
              <div class="login-subtitle">Sign in to continue</div>
            </div>
            <div class="login-body">
              <form class="login-form" id="form" method="post">
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <input
                    class="form-control"
                    type="email"
                    id="email"
                    placeholder="example@email.com"
                  />
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    id="password"
                    placeholder="*******"
                  />
                </div>
                <div class="form-group link-forgot-container">
                  <a class="link link-forgot" href="#">Forgot Password?</a>
                </div>
                <div class="form-group">
                  <button class="login-button">Login</button>
                </div>
              </form>
            </div>
            <div class="login-footer">
              New user?&nbsp;&nbsp;<a class="link link-register" href="#"
                >Signup</a
              >
            </div>
          </div>
        </div>
        <div class="credits">
          inspired by
          <a
            class="credits-link"
            href="https://dribbble.com/shots/3354720-Login-splash-screen-ZAD-App-iOS"
            target="_blank"
          >
            <svg class="dribbble" viewBox="0 0 200 200">
              <g stroke="#EC4989" fill="none">
                <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                <path
                  d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345"
                  stroke-width="20"></path>
                <path
                  d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951"
                  stroke-width="20"></path>
                <path
                  d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103"
                  stroke-width="20"></path>
              </g>
            </svg>
            Divan Raj
          </a>
        </div>
      </div>
    </div>
  </body>
  <script>
    var splash = document.getElementById("splash") as HTMLElement;
    var loginForm = document.getElementById("form") as HTMLElement;
    var email = document.getElementById("email") as HTMLInputElement;
    var password = document.getElementById("password") as HTMLInputElement;
    var loginEmailParent = email.parentNode as HTMLElement;
    var loginPasswordParent = password.parentNode as HTMLElement;

    loginForm.addEventListener("submit", function (event) {
      event.preventDefault();

      var success = true;
      loginEmailParent.classList.remove("error");
      loginPasswordParent.classList.remove("error");

      if (email.value.trim() === "") {
        loginEmailParent.classList.add("error");
        success = false;
      }

      if (password.value === "") {
        loginPasswordParent.classList.add("error");
        success = false;
      }

      if (success) {
        splash.classList.remove("out");
        ready();
      }
    });

    function ready() {
      setTimeout(function () {
        splash.classList.add("out");
      }, 1000);
    }

    ready();
  </script>
</html>
